h1{
    
}
body {
    background-color:green;
    padding-left: 550px;
    padding-top:100px;

}
.numbers {
    padding: 30px;
    border-radius: 20;
    margin:80;
    background-color:#CDB450;
    width: 70px;
    font-size: medium;
}

.char {
    padding: 30px;
    border-radius: 20;
    margin:80;
    width: 70px;
    font-size: large;
    font-weight: 300;
    color:wheat;
    background-color:black;
}
.extra{
    width: 145px;
}